{% extends "base.html" %}

{% block title %}Вопросы{% endblock %}

{% block content %}

<div class="card shadow-sm p-4">

    <div class="d-flex justify-content-between mb-3">
        <h3>📋 Список вопросов</h3>
        <a href="{{ url_for('admin.admin_dashboard') }}" class="btn btn-outline-secondary">
            Назад
        </a>
    </div>

    {% if questions %}
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Вопрос</th>
                    <th>Ответ</th>
                    <th>Тип</th>
                </tr>
            </thead>
            <tbody>
                {% for q in questions %}
                <tr>
                    <td>{{ q.id }}</td>
                    <td>{{ q.text }}</td>
                    <td><span class="badgebg-success">{{ q.correct_answer }}</span></td>
                    <td>{{ q.question_type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p class="text-muted">Вопросов пока нет</p>
    {% endif %}

</div>

{% endblock %}